header {
    background-image: linear-gradient(to right, rgb(55, 122, 255), rgb(3, 3, 120)  )
}

.weather-card {
    background-color: rgb(37, 51, 83); 
}

.hidden {
    visibility: hidden;
}

h5 {
    font-weight: bolder;
    display: inline;
}

.day-card{
    background-color: rgb(50, 61, 79);
}

.day-card li{
    color: white;
    background-color: rgb(50, 61, 79);
}
.day-card img{
    background-color: rgb(50, 61, 79);
}

.icon{
    height: 50px;
    width: 50px;
}

#saved-cities li{
    display: block;
}

button {
    width: 100%;
}